$font-size--3xs: rem(8px);
$font-size--2xs: rem(10px);
$font-size--xs: rem(12px);
$font-size--sm: rem(14px);
$font-size--md: rem(16px);
$font-size--lg: rem(20px);
$font-size--xl: rem(24px);
$font-size--xl-plus: rem(28px);
$font-size--2xl: rem(32px);
$font-size--3xl: rem(40px);
$font-size--4xl: rem(48px);

$font-family--main: 'Montserrat', sans-serif;
$font-family--secondary: 'Lora', serif;
$font-family--monospace: 'Courier Prime', monospace, sans-serif;

$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--semibold: 600;
$font-weight--bold: 700;

$letter-spacing--xs: 0;
$letter-spacing--sm: rem(0.6px);
$letter-spacing--md: rem(1.5px);
$letter-spacing--lg: rem(3px);

$line-height--xs: 1;
$line-height--sm: 1.25;
$line-height--md: 1.5;
$line-height--lg: 1.75;
$line-height--xl: 2;
